<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>You're stepping to an error</title>
        <link rel="stylesheet" href="/assets/style.css" type='text/css'>
    </head>
    <body>
        <h1>404 not found!!!</h1>
        <p>Please turn back to homepage</p>
    </body>
</html>
