<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Contact</title>
        <link rel="stylesheet" href="/assets/style.css" type="text/css">

    </head>
    <body>
        <%- include('partials/nav.ejs') %>
        <h1>Contact at:</h1>
        <p>Phone: +1 (413) 433-7018</p>
        <p>Email: ducmanh.tran2904@gmail.com</p>
        <p>Facebook: <a href="https://www.facebook.com/manh.beomap" target="_blank">click here</a></p>
    </body>
</html>
