<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js" integrity="sha384-DBjhmceckmzwrnMMrjI7BvG2FmRuxQVaTfFYHgfnrdfqMhxKt445b7j3KBQLolRl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
    <title>The Essay Helper</title>
    <style>
    header {
         display: block;
         padding: 5px;
         top: 0;
         height: 150px;
         background-color: #FFB6C1;
         text-align: center;
         font-size: 17px;
     }
     h1 {
         font-family: Georgia, serif;
         color: white;
         letter-spacing: 5px;
     }
     header p {
         margin-bottom: -10px;
         color: white;
         font-style: italic;
     }

     footer {
        display: block;
        padding: 5px;
        top: 0;
        height: 100px;
        background-color: #FFB6C1;
        text-align: center;
        font-size: 17px;
    }
    </style>

</head>
<body style="display: block; margin: 0px">
    <div class="container-fluid" style="padding: 0 !important;">
        <header style="display: block;
                     padding: 5px;
                     top: 0;
                     height: 150px;
                     background-color: #FFB6C1;
                     text-align: center;
                     font-size: 17px;"
        >
            <h1 style="font-family: Georgia, serif;
                     color: white;
                     letter-spacing: 5px;"
            >Essay Helper</h1>
            <p style="margin-bottom: -10px;
                     color: white;
                     font-style: italic;"
            >Your best pal to do homework with!</p>
            <p style="margin-bottom: -10px;
                     color: white;
                     font-style: italic;"
            >Type in your essay and we will do the rest!</p>
        </header>
        <div class="row" style="margin: 10px 10px 10px 50px">
            <div class="col-md-8" style="padding: 20px">
                <form style="display: flex; padding-bottom: 10px">
                    <label for="toUpload" style="padding-right: 10px;">Select a file to convert:</label>
                    <input type="file" id="toUpload">
                    <div id='status' style="color: red"></div>
                </form>
                <form  id="submit-form" method="post" action="/">
                    <!-- <input type="text" name="who" value=""> -->
                    <textarea placeholder="Write Your Essay Here..." id="paper" name="essay" style="width: 100%; height: 20vw"></textarea>
                    <button type="submit" name="button">Convert</button>
                </form>
                <button id="check-ranking" type="button" name="ranking">Check Ranking</button>
            </div>
            <div class="col-md-3" style="border: 2px; margin: 20px">
                <p>WORD RANKING BOARD</p>
                <div id="ranking-box">
                    <p>Waiting for clicking Check Ranking button</p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <footer style="background-color: pink; height: 250px">
            <h1> Development team </h1>
            <div style="display: flex; flex-direction: row;">
                <div style="width: 100% / 3;">
                    <p>Katorin Tran (UMass '23)</p>
                    <p><a href="https://github.com/thevuong8000">https://github.com/thevuong8000</a></p>
                    <!-- linkedin -->
                    <!-- phone number -->
                </div>
                <div style="width: 100% / 3;">
                    <p>Kyrie Nguyen (Union '23)</p>
                    <p><a href="https://github.com/kyrienguyen5701">https://github.com/kyrienguyen5701</a></p>
                    <p><a href="https://www.linkedin.com/in/sơn-nguyễn-hồng-8aa578191">https://www.linkedin.com/in/sơn-nguyễn-hồng-8aa578191</a></p>
                    <p>(+1) 518 881-9324</p>
                </div>
                <div style="width: 100% / 3;">
                    <p>Kaylee Nguyen (Vanderbilt '23)</p>
                    <p><a href="https://github.com/kaylee2504">https://github.com/kaylee2504</a></p>
                    <!-- linkedin -->
                    <!-- phone number -->
                </div>
            </div>
            
        </footer>
    </div>
    <script type="text/javascript">
        document.getElementById('check-ranking').addEventListener('click', function(){
            var map = new Map();
            var paras = document.getElementById('paper').value.split("\n");
            var badWords = ['',
'i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 'her',
 'hers',
 'herself',
 'it',
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'what',
 'where',
 'why',
 'which',
 'who',
 'whom',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 're',
 'can',
 'will',
 'just',
 'don',
 'should',
 'now',
 'past',
 'future',
 'either',
 'neither'];
            for(var para of paras){
                words = para.split(" ");
                for(var word of words){
                    word = word.toLowerCase();
                    if(badWords == "") continue;
                    if(!word.charAt(word.length - 1).match(/[a-z]/i)) word = word.substring(0, word.length - 1);
                    if(map.get(word) == null) map.set(word, 1);
                    else map.set(word, map.get(word) + 1);
                }
            }
            console.log(map);
            map[Symbol.iterator] = function* () {
                yield* [...this.entries()].sort((a, b) => -a[1] + b[1]);
            }

            var rankingBox = document.getElementById('ranking-box');
            rankingBox.innerHTML = "<ul>";
            var threshold = 10;
            for (let [key, value] of map) {     // get data sorted
                if(badWords.includes(key)) continue;
                rankingBox.innerHTML += "<li>" + key + ' ' + value + "</li>";
                // console.log(key + ' ' + value);
                threshold--;
                if(threshold < 0) break;
            }
            if(threshold > 0){
                for(var i = 0; i < badWords.length && threshold > 0; i++){
                    if(map.get(badWords[i]) == null) continue;
                    rankingBox.innerHTML += "<li>" + badWords[i] + ' ' + map.get(badWords[i]) + "</li>";
                    threshold--;
                }
            }
            rankingBox.innerHTML += "</ul>";
        });
    </script>

    <script type="text/javascript">
    const status = document.getElementById('status');
    const paper = document.getElementById('paper');
    if (window.FileList && window.File && window.FileReader) {
    document.getElementById('toUpload').addEventListener('change', event => {
    paper.src = '';
    status.textContent = '';
    const file = event.target.files[0];
    console.log(file.type);
    if (!file.type) {
    status.textContent = 'Error: The File.type property does not appear to be supported on this browser.';
    return;
    }
    if (!file.type.match('text/plain')) {
    status.textContent = 'Error: The selected file does not appear to be an text file.';
    return;
    }
    const reader = new FileReader();
    reader.addEventListener('load', event => {
        console.log(event.target.result);
        if(paper.value != ""){
            status.textContent = 'There should be nothing inside the textarea. Please reload the site and upload again';
            return;
        }
        else paper.value = event.target.result;
    });
    reader.readAsText(file);
    });
    }
    </script>
</body>
</html>
