<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js" integrity="sha384-DBjhmceckmzwrnMMrjI7BvG2FmRuxQVaTfFYHgfnrdfqMhxKt445b7j3KBQLolRl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
    <title>The Essay Helper</title>


</head>
<body style="display: block; margin: 0px">
    <div class="container-fluid" style="padding: 0 !important;">
        <header class="bg-success" style="border-bottom: 2px solid #1cffd2">
            <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/s2048x2048/106275268_1003673336718082_2105351401163650908_n.png?_nc_cat=105&_nc_sid=b96e70&_nc_ohc=eJNV3g785I0AX-wSaCa&_nc_ht=scontent.fhan2-4.fna&oh=9c8c010cb6fe70594f4549b9105d859b&oe=5F2B6579" alt="UwU" class="rounded-circle d-inline" style="width: 10%; height: 10%">
            <h1 class="d-inline">A very nice header</h1>
        </header>
        <div class="row" style="margin: 10px 10px 10px 50px">
            <div class="col-md-8" style="padding: 20px">
                <form style="display: flex; padding-bottom: 10px">
                    <label for="toUpload" style="padding-right: 10px;">Select a file to convert:</label>
                    <input type="file" id="toUpload">
                    <div id='status' style="color: red"></div>
                </form>
                <form  id="submit-form" method="post" action="/">
                    <!-- <input type="text" name="who" value=""> -->
                    <textarea placeholder="Write Your Essay Here..." id="paper" name="essay" style="width: 100%; height: 20vw"></textarea>
                    <button type="submit" name="button">Convert</button>
                </form>
                <button id="check-ranking" type="button" name="ranking">Check Ranking</button>
            </div>
            <div class="col-md-3" style="border: 2px; margin: 20px">
                <p>WORD RANKING BOARD</p>
                <div id="ranking-box">
                    <p style="color: red">Ranking board currently is not available. Sorry about this inconvenience!</p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <footer style="background-color: pink; height: 250px">
            UwU information
        </footer>
    </div>
    <script type="text/javascript">
        document.getElementById('check-ranking').addEventListener('click', function(){
            var map = new Map();
            var paras = document.getElementById('paper').value.split("\n");
            var badWords = ['i', 'the', 'am', 'is', 'are', 'was', 'were', 'can', 'could', 'so', ''];
            for(var para of paras){
                words = para.split(" ");
                for(var word of words){
                    word = word.toLowerCase();
                    if(badWords.includes(word)) continue;
                    if(!word.charAt(word.length - 1).match(/[a-z]/i)) word = word.substring(0, word.length - 1);
                    if(map.get(word) == null) map.set(word, 1);
                    else map.set(word, map.get(word) + 1);
                }
            }
            console.log(map);
            map[Symbol.iterator] = function* () {
                yield* [...this.entries()].sort((a, b) => -a[1] + b[1]);
            }

            var rankingBox = document.getElementById('ranking-box');
            rankingBox.innerHTML = "<ul>";
            var threshold = 10;
            for (let [key, value] of map) {     // get data sorted
                rankingBox.innerHTML += "<li>" + key + ' ' + value + "</li>";
                console.log(key + ' ' + value);
                threshold--;
                if(threshold < 0) break;
            }
            rankingBox.innerHTML += "</ul>";
        });
    </script>

    <script type="text/javascript">
    const status = document.getElementById('status');
    const paper = document.getElementById('paper');
    if (window.FileList && window.File && window.FileReader) {
    document.getElementById('toUpload').addEventListener('change', event => {
    paper.src = '';
    status.textContent = '';
    const file = event.target.files[0];
    console.log(file.type);
    if (!file.type) {
    status.textContent = 'Error: The File.type property does not appear to be supported on this browser.';
    return;
    }
    if (!file.type.match('text/plain')) {
    status.textContent = 'Error: The selected file does not appear to be an text file.';
    return;
    }
    const reader = new FileReader();
    reader.addEventListener('load', event => {
        console.log(event.target.result);
        if(paper.value != ""){
            status.textContent = 'There should be nothing inside the textarea. Please reload the site and upload again';
            return;
        }
        else paper.value = event.target.result;
    // paper.src = event.target.result;
    });
    reader.readAsText(file);
    });
    }
    </script>
</body>
</html>
