<!DOCTYPE html>
<html>
    <head>
        <title>My First Page</title>
        <link rel="stylesheet" href="/assets/style.css" type="text/css">
    </head>
    <body>
        <%- include('partials/nav.ejs') %>
        <h1>Welcome to my page</h1>
        <p>this is the best website in the world!!!</p>
    </body>
</html>
