<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Contact</title>
        <link rel="stylesheet" href="/assets/style.css" type="text/css">

    </head>
    <body>
        <%- include('partials/nav.ejs') %>
        <h1>You have successfully registered for this club!!</h1>
    </body>
</html>
