<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Contact</title>
        <link rel="stylesheet" href="/assets/style.css" type="text/css">

    </head>
    <body>
        <%- include('partials/nav.ejs') %>
        <h1>Wanna be a member?</h1>
        <form id="register-form" method="post" action="/register">
            <label for="who">What is your name?</label>
            <input type="text" name="who" value="">
            <label for="Graduation Year">What is your graduation year</label>
            <input type="number" name="Graduation Year" value="">
            <label for="email">Your email</label>
            <input type="email" name="email" value="">
            <input type="submit" name="submit" value="Register">
            <label for="toConvert" style="padding-right: 10px;">Select a file to convert:</label>
            <input type="file" id="toConvert" name="fileUpload">
                                <!-- <input type="submit" value="Upload">  -->
        </form>
    </body>
</html>
