body{background: skyblue; font-family: verdana; color: #fff; padding: 70px;}
h1{font-size: 48px; text-transform: uppercase; letter-spacing: normal; text-align: center;}
p, li{font-size: 32px; text-align: center;}
form{width: 400px; max-width: 100%; padding: 20px; margin: 20px auto;}
input, label{display: block; margin: 10px 0; padding: 5px; width: 100%;}
input[type='submit']{width: auto;}
